* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 10% auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.texts h2 {
  color: #fff;
}
